<logged-in></logged-in>
<div layout="row" layout-align="start stretch" id="wrap">
    <div layout="column" md-colors="{background: 'primary-400'}">
        <leiste></leiste>
    </div>
    <div layout="column" flex>

        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <div layout-align="start center">
                    <h1>Tipps zur perfekten Bewerbung
                    </h1>
                </div>
                <div flex></div> <!-- NICHT ENTFERNEN -->
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex layout-padding>
                <!--md-header class="md-no-sticky">Angelegte Bewerbungen</md-header-->
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>So wird die Bewerbungsmappe aufgebaut</h3>
                        <p>
                            Wer meint, dass man es sich sparen kann eine teure Bewerbungsmappe anzulegen und
                            es reicht nur durch Inhalte positiv auffällt, irrt gewaltig.<br>
                            Einfach und Billig kann jeder. Wer hingegen schon durch eine edle Pappmappe Stil und Klasse beweist,
                            zeigt zugleich, was er oder sie bereit ist, in die eigene berufliche Zukunft zu investieren <br>
                            und was ihr oder ihm der Job wert ist. Mehr noch: Eine teure und elegante Bewerbungsmappe
                            kann keine Massenware sein.</p>
                        <br>
                        <p>Grundsätzlich wird die Bewerbungsmappe folgendermaßen aufgebaut:
                        <ul>
                        <li><p>Anschreiben</p></li>
                        <li><p>Mappe</p></li>
                        <li><p>Deckblatt</p></li>
                        <li><p>Lebenslauf</p></li>
                        <li><p>Zeugnisse</p></li>
                        <li><p>Referenzen, Zertifikate, Arbeitsproben</p></li>
                        </ul>
                        </p>
                        <br>
                        <p>Die Mappe dazu ist idealerweise ein richtiger Klemmhefter und kein einfacher Schnellhefter mit Lochung.<br>
                            So kann der Personaler die Unterlagen leichter herausnehmen und wieder zurückstecken.<br>
                            In der Farbwahl sollten keine grellen oder aufdringlichen Farben verwendet werden. <br>
                            Schwarz, Dunkelblau, gedecktes Rot oder Blau sind auffällig genug. </p>
                    </div>
                </md-list-item>
                <div flex></div>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>So gelingt das perfekte Anschreiben</h3>
                        <p>Das Bewerbungsanschreiben sollte stets obenauf liegen und gibt damit einen ersten Eindruck Ihrer Bewerbung.<br>
                            Dieser erste Eindruck sollte natürlich sitzen. Entsprechend prägnant und übersichtlich muss das
                            Anschreiben sein.</p>
                        <br>
                        <p>Anders als beim Lebenslauf spiegelt das Anschreiben die Motivation und Persönlichkeit des Bewerbers. <br>
                            Es ist wichtig, dass schon hier die Aufmerksamkeit geweckt wird und gezeigt wird warum
                            man sich für die Stelle bewirbt, wie qualifiziert man ist <br>
                            und was man ins Unternehmen einbringen kann. </p>
                        <br>
                        <p>Unverzichtbar im Anschreiben:
                            <ul>
                        <li><p>Telefonnumer in der Kopfzeile</p></li>
                        <li><p>Darunter das Datum</p></li>
                        <li><p>Linksbündig Vor- und Zuname des
                            Adressaten und Anschrift</p></li>
                        <li><p>Eine konkrete betreffzeile</p></li>
                        <li><p>Abschließend eine Unterschrift (nicht gedruckt!) und</p></li>
                        <li><p>Das Anlagenverzeichnis (Lebenslauf,
                            Zeugnisse)</p></li>
                    </ul>
                            </p>
                    </div>
                </md-list-item>
                <div flex></div>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>So wird der Lebenslauf optimiert</h3>
                        <p>
                            Der Lebenslauf ist faktisch Standard für alle Bewerbungen. Er erfüllt das wichtigste<br>
                            Kriterium der Bewerbung: Übersichtlichkeit.<br>
                            Der Personaler muss also Ihren Werdegang schnell erfassen können. <br>
                            Die Wenigsten investieren für diese Lektüre mehr als fünf Minuten.
                        </p>
                        <p>
                            Das Wesentliche und für die angestrebte Position Relevantes muss also sofort ins Auge springen. <br>
                            Und das sind vor allem Fakten – keinen persönlichen Geschichten! <br>
                            Ein Lebenslauf ist eine reine Faktensammlung: Beruflicher Werdegang, Ausbildung, Praktika, Hobbys. <br>
                            Stichworte reichen, Kommentare sind tabu. <br>
                            Genauso eine Anrede oder Grußformel zum Schluss. Links stehen die Zeitangaben, rechts die
                            Stationen und Positionen.<br>
                        </p>
                        <br>
                        <p>Was in einen guten Lebenlauf muss:</p>
                        <ul>
                            <li><p>persönliche Daten (Name, Geburtstag und -ort, Anschrift, Familienstand,
                                Staatsangehörigkeit)</p></li>
                            <li><p>Ausbildung (dazu gehört evtl. auch geleisteter Wehr- oder Ersatzdienst),</p></li>
                            <li><p>Berufserfahrung</p></li>
                            <li><p>besondere Qualifikationen (Weiterbildung,
                                Kenntnisse, Fähigkeiten, Sprachen),</p></li>
                            <li><p>Interessen (Mitgliedschaften, soziale Dienste, Hobbys)</p></li>
                        </ul>
                        <p>Alles zeitlich exakt eingeordnet,
                            vor allem lückenlos. Das weckt sonst den Verdacht, Sie wollten peinliche Stationen
                            vertuschen. Monatsangaben reichen in der Regel.</p>
                        <p>Formal muss der Lebenslauf mit Ort, Datum und einer Unterschrift versehen werden. Damit ist
                            er eine Urkunde.<br>
                            Obacht: Bewusst falsche Angaben sind dann Urkundenfälschung und Betrug und können eine
                            Kündigung zur Folge haben.</p>
                    </div>
                </md-list-item>
                <div flex></div>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Umbedingt ein Bewerbungsfoto benutzen</h3>
                        <p>Das Bewerbungsfoto kann auch weggelassen werden. Manche Arbeitgeber fordern dazu sogar explizit
                            auf (dann gilt das Folgende natürlich nicht!).<br>
                            Kuzgesagt: Das Bewerbungsfoto ist ein Kann-Element, kein Muss-Element einer Bewerbung.<br></p>
                        <br>
                        <p>Einsetzen sollten Sie es aber dennoch weiterhin. Hinter den Kulissen bestätigen <br>
                            Personalentscheider nach wie vor, dass sie das Foto gerne sehen,
                            um sich sprichwörtlich ein Bild vom Bewerber machen zu können. <br>
                            Machen Sie sich dabei unbedingt klar:<br>
                            So ein Foto wirkt gleich auf mehreren Ebenen: nicht nur das Porträt selbst, sondern auch
                            Mimik, Lächeln, Kleidung, Hintergrund, Qualität. <br>
                            Das alles fließt in den persönlichen Eindruck ein. Das kann bei Billigfotos ein
                            Nachteil sein –
                            Sie können dies aber eben auch subtil nutzen.</p>
                        <br>
                    </div>
                </md-list-item>
                <div flex></div>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Die Frage des Deckblatts</h3>
                        <p>Zum Deckblatt gibt es unterschiedliche Ansichten: Die einen sagen,
                            es gehört unbedingt zur Bewerbung dazu und obenauf. <br>
                            Andere sehen es erst nach dem Anschreiben –
                            versehen mit Foto sowie den übergroßen Kontaktdaten des Bewerbers.<br>
                            Und wieder andere sehen darin nur Zeit- und Materialverschwendung.
                            Was nun ist richtig?</p>
                        <br>
                        <p>Grundsätzlich ist das Deckblatt keine Pflicht, sondern lediglich Beiwerk.<br>
                            Grundlos und ohne erkennbaren Nutzen eingesetzt, kann es leicht als Zeichen der Einfallslosigkeit des Bewerbers gesehen werden <br>
                            Richtig eingesetzt,kann es aber zur Übersichtlichkeit beitragen und Sie aus der Masse hervorheben.<br></p>
                        <br>
                        <p>Eine große Mehrheit der Personaler spricht sich allerdings gegen das Deckblatt aus. <br>
                            Zwar meinten die Befragten, wenn die Bewerbung sonst sehr umfangreich und die dritte Seite gut gemacht ist,<br>
                            würde diese auch beachtet. Aber im Großen und Ganzen scheint sie eher überflüssig. <br>
                            Im Zweifelsfall also eher auf das Deckblatt verzichten.</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>