<div layout="column" md-colors="{background: 'primary-400'}">
   <div flex>
        <md-button class="md-icon-button"
                   ui-sref="bewerbung-liste">
            <md-tooltip>Liste aller Bewerbungen</md-tooltip>
            <md-icon md-font-icon="material-icons" md-colors="{color: 'primary-A100'}">3p</md-icon>
        </md-button>
    </div>
    <div flex >
        <md-button class="md-icon-button"
                   ui-sref="document-list">
            <md-tooltip>Liste aller Dokumente</md-tooltip>
            <md-icon md-font-icon="material-icons" md-colors="{color: 'primary-A100'}">description</md-icon>
        </md-button>
    </div>
    <div flex>
        <md-button class="md-icon-button"
                   ui-sref="bewerbung-tipps">
            <md-tooltip>Tipps für Bewerbungen</md-tooltip>
            <md-icon md-font-icon="material-icons" md-colors="{color: 'primary-A100'}">info</md-icon>
        </md-button>
    </div>
</div>